config INTERCONNECT_QCOM
	bool "Qualcomm Network-on-Chip interconnect drivers"
	depends on INTERCONNECT
	depends on ARCH_QCOM || COMPILE_TEST
	default y

config INTERCONNECT_QCOM_MSM8916
	tristate "Qualcomm MSM8916 interconnect driver"
	depends on INTERCONNECT_QCOM
	help
	  This is a driver for the Qualcomm Network-on-Chip on msm8916-based platforms.

config INTERCONNECT_QCOM_MSM8996
	tristate "Qualcomm MSM8996 interconnect driver"
	depends on INTERCONNECT_QCOM
	help
	  This is a driver for the Qualcomm Network-on-Chip on msm8996-based platforms.
